<form action='/articles' method='POST'>
<ul>
    <li>Title<input type="text" id="title" name="title"></li>
    <li>Content<input type="text" id="content" name="content"></li>
    <input type="submit">
</ul>
</form>